body{
	margin-top: 30px;
}
.centraliza{
	max-width: 1200px;
	margin: 0 auto;
}
.clear{
	clear: both;
}
.btn{
	background: #5cb78b;
	border-radius: 360px;
	padding: 10px 14px;
	color: #FFF;
	margin-top: -10px;
	margin-bottom: 15px;
}
.btn:hover{
	background: #3f9d6f;
	color: #FFF;
}
h1{
	font-size: 1.6em;
	font-weight: 900;
	letter-spacing: -1px;
}
.bb{
	border-bottom: 1px solid #cdcdcd;
}
.lista{
	padding: 0;
}
.lista li{
	padding: 10px;
	list-style: none  !important;
}
.lista li:nth-child(odd){
	background: #FFF;
}
.lista li:nth-child(even){
	background: #d7e4de;
}
.titles{
	text-transform: uppercase;
	font-weight: 700;
}
.acoes{
	float: left;
	margin-right: 5px;
}